<div class="flex flex-col items-center min-h-[70vh]">
    <div class="container flex flex-col items-center justify-center px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col w-full text-lg text-gray-300 gap-y-3">
            <h1 class="font-bold text-3xl mb-[30px]">Contact Us</h1>
            <div class="flex flex-col gap-y-5 text-xl">
                <div class="flex flex-col gap-y-5">
                    <p class="text-2xl font-bold">Get in touch</p>
                    <p>
                        Whether you have a question, feedback, or just want to say hello, we'd love to hear from you. Contact Cinemania
                        using the information below:
                    </p>
                </div>
                <div class="flex flex-col gap-y-5">
                    <p class="hover:cursor-pointer hover:text-white"><i class="fa-solid fa-envelope"></i> <span class="font-bold"> Email: </span> info@cinemania.com</p>
                    <p class="hover:cursor-pointer hover:text-white"><i class="fa-solid fa-phone"></i> <span class="font-bold"> Phone: </span> +1(555) 123-4567</p>
                </div>
                <div class="flex flex-col">
                    <p class="text-2xl font-bold pb-5">Our office</p>
                    <p>Visit us at our office:</p>
                    <p>Cinemania Headquarters</p>
                    <p>123 Movie Lane</p>
                    <p>Cityville, MV 54321</p>
                    <p>United States</p>
                </div>
                <div class="flex flex-col">
                    <p class="text-2xl font-bold pb-5">Social Media</p>
                    <p class="pb-3">Connect with us on social media for the latest updates, news and community discussions:</p>
                    <p class="hover:cursor-pointer hover:text-white"><i class="fa-brands fa-square-facebook"></i> Facebook</p>
                    <p class="hover:cursor-pointer hover:text-white"><i class="fa-brands fa-instagram"></i> Instagram</p>
                    <p class="hover:cursor-pointer hover:text-white"><i class="fa-brands fa-square-x-twitter"></i> X</p>
                    <p class="hover:cursor-pointer hover:text-white"><i class="fa-brands fa-youtube"></i> YouTube</p>
                    <p class="hover:cursor-pointer hover:text-white"><i class="fa-brands fa-square-reddit"></i> Reddit</p>
                </div>
            </div>
        </div>
    </div>
</div>