<div class="flex flex-col items-center bg-gray-800 px-3 mx-auto">
    <div class="grid grid-cols-2 h-[20rem] container">
        <div class="flex items-center text-gray-300">
            <div class="flex flex-col gap-4 justify-center">
                <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                <p class="text-xl">Letting the world express opinions freely.</p>
                <div class="flex gap-5 text-xl text-gray-500">
                    <i class="fa-brands fa-facebook hover:text-gray-100 hover:cursor-pointer"></i>
                    <i class="fa-brands fa-instagram hover:text-gray-100 hover:cursor-pointer"></i>
                    <i class="fa-brands fa-x-twitter hover:text-gray-100 hover:cursor-pointer"></i>
                    <i class="fa-brands fa-youtube hover:text-gray-100 hover:cursor-pointer"></i>
                </div>
            </div>
        </div>
        <div class="flex justify-end items-center">
            <div class="flex gap-4 justify-end items-center text-gray-300">
                <a href="/Movies" class="hover:text-gray-100">Movies</a>
                <a href="/About Us" class="hover:text-gray-100">About Us</a>
                <a href="/Contatcs" class="hover:text-gray-100">Contacts</a>
            </div>
        </div>
    </div>
</div>