<div class="flex flex-col items-center bg-gray-800 px-3 mx-auto w-full bottom-0 relative mt-8">
    <div class="grid grid-cols-2 max-sm:grid-cols-1 py-10 container px-4 sm:px-6 lg:px-8">
        <div class="flex items-center text-gray-300">
            <div class="flex flex-col gap-4 justify-center">
                <a class="text-indigo-500 font-bold italic text-2xl" routerLink="/home">Cinemania</a>
                <p class="text-xl">Dive into the world of film with CinemaniaHub – where every rating counts, and movie magic never ends.</p>
                <div class="flex gap-5 text-xl text-gray-500">
                    <i class="fa-brands fa-facebook hover:text-gray-100 hover:cursor-pointer"></i>
                    <i class="fa-brands fa-instagram hover:text-gray-100 hover:cursor-pointer"></i>
                    <i class="fa-brands fa-x-twitter hover:text-gray-100 hover:cursor-pointer"></i>
                    <i class="fa-brands fa-youtube hover:text-gray-100 hover:cursor-pointer"></i>
                </div>
            </div>
        </div>
        <div class="flex justify-end items-center">
            <div class="flex gap-4 justify-end items-center text-gray-300">
                <a routerLink="/movies" class="hover:text-gray-100">Movies</a>
                <a routerLink="/about" class="hover:text-gray-100">About Us</a>
                <a routerLink="/contatcs" class="hover:text-gray-100">Contacts</a>
            </div>
        </div>
    </div>
    <hr class="bg-white my-4 w-[60%] max-sm:w-[80%]" />
    <p class="text-gray-300 pb-10">
        Copyright ©2024 All rights reserved.
    </p>
</div>