<div>
    <nav class="bg-gray-800 mb-[30px]">
      <div class="mx-auto container px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <a class="text-indigo-500 font-bold italic text-2xl" routerLink="/home"><i class="fa-solid fa-film"></i> Cinemania</a>
            </div>
            <div class="hidden lg:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a class="text-gray-300 hover:bg-gray-700 hover:text-white !rounded !px-3 !py-2 !text-sm !font-medium" routerLink="/movies" routerLinkActive="bg-gray-900 text-white rounded px-3 py-2 text-sm font-medium"  ariaCurrentWhenActive="page">Movies</a>
                <a class="text-gray-300 hover:bg-gray-700 hover:text-white !rounded !px-3 !py-2 !text-sm !font-medium" routerLink="/about" routerLinkActive="bg-gray-900 text-white rounded px-3 py-2 text-sm font-medium" ariaCurrentWhenActive="page">About Us</a>
                <a class="text-gray-300 hover:bg-gray-700 hover:text-white !rounded !px-3 !py-2 !text-sm !font-medium" routerLink="/contacts" routerLinkActive="bg-gray-900 text-white rounded px-3 py-2 text-sm font-medium" ariaCurrentWhenActive="page">Contacts</a>
              </div>
            </div>
          </div>
          <div class="hidden lg:block">
            <div class="ml-4 flex items-center lg:ml-6">
              <div class="relative ml-3">
                    <div class="flex gap-2">
                        <p *ngIf="isLoggedIn" class="text-gray-300 !rounded !px-3 !py-2 !text-sm !font-medium"><i class="fa-regular fa-user"></i>&nbsp;{{ username }}</p>
                        <a *ngIf="isLoggedIn && role !='User'" class="text-gray-300 hover:bg-gray-700 hover:text-white !rounded !px-3 !py-2 !text-sm !font-medium" routerLink="/admin-panel" routerLinkActive="bg-gray-900 text-white rounded px-3 py-2 text-sm font-medium" ariaCurrentWhenActive="page"><i class="fa-solid fa-gears"></i>&nbsp;Admin Panel</a>
                        <a *ngIf="!isLoggedIn" class="text-gray-300 hover:bg-gray-700 hover:text-white !rounded !px-3 !py-2 !text-sm !font-medium" routerLink="/auth/signin" routerLinkActive="bg-gray-900 text-white rounded px-3 py-2 text-sm font-medium" ariaCurrentWhenActive="page"><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Sign in</a>
                        <button *ngIf="isLoggedIn" (click)="logout()" class="text-gray-300 hover:bg-gray-700 hover:text-white !rounded !px-3 !py-2 !text-sm !font-medium"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;Logout</button>
                    </div>
              </div>
            </div>
          </div>
          
          <div class="-mr-2 flex lg:hidden">
            <button (click)="mobileMenuClick()" type="button" class="relative inline-flex items-center justify-center rounded bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
        </div>
      </div>
  
      <div [classList]="mobileMenuStyles" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
            <a class="text-gray-300 hover:bg-gray-700 hover:text-white !block !rounded !px-3 !py-2 !text-base !font-medium" routerLink="/movies" routerLinkActive="bg-gray-900 text-white block rounded px-3 py-2 text-base font-medium" ariaCurrentWhenActive="page">Movies</a>
            <a class="text-gray-300 hover:bg-gray-700 hover:text-white !block !rounded !px-3 !py-2 !text-base !font-medium" routerLink="/about"  routerLinkActive="bg-gray-900 text-white block rounded px-3 py-2 text-base font-medium" ariaCurrentWhenActive="page">About Us</a>
            <a class="text-gray-300 hover:bg-gray-700 hover:text-white !block !rounded !px-3 !py-2 !text-base !font-medium" routerLink="/contacts"  routerLinkActive="bg-gray-900 text-white block rounded px-3 py-2 text-base font-medium" ariaCurrentWhenActive="page">Contacts</a>
            <a *ngIf="!isLoggedIn" class="text-gray-300 hover:bg-gray-700 hover:text-white !block !rounded !px-3 !py-2 !text-base !font-medium" routerLink="/auth/signin"  routerLinkActive="bg-gray-900 text-white block rounded px-3 py-2 text-base font-medium" ariaCurrentWhenActive="page">Sign in</a>
            <a *ngIf="isLoggedIn && role !='User'" class="text-gray-300 hover:bg-gray-700 hover:text-white !block !rounded !px-3 !py-2 !text-base !font-medium" routerLink="/admin-panel"  routerLinkActive="bg-gray-900 text-white block rounded px-3 py-2 text-base font-medium" ariaCurrentWhenActive="page">Admin Panel</a>
        </div>
        <div class="border-t border-gray-700 pb-3 pt-4">
            <div class="flex items-center px-5">
                <div class="flex-shrink-0">
                  <i class="fa-regular fa-user text-2xl text-white"></i>
                </div>
                <div class="ml-3">
                <div class="text-base font-medium leading-none text-white">{{username}}</div>
                </div>
            </div>
            <div class="mt-3 space-y-1 px-2">
                <button *ngIf="isLoggedIn" (click)="logout()" class="block rounded px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Sign out</button>
            </div>
        </div>
      </div>
    </nav>
  
    <!-- <header class="bg-white w-full container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-7xl py-6 w-full">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 w-full">Movies</h1>
      </div>
    </header> -->
</div>