<div class="flex flex-col items-center pb-[30px]">
    <div class="container flex flex-col items-center justify-center px-4 sm:px-6 lg:px-8 min-h-[30rem]">
        <div *ngIf="images.length > 0" class="w-[100%]">
            <ng-image-slider [images]="images" [imageSize]="{width: 400, height: 600}" [manageImageRatio]="true"></ng-image-slider>
        </div>
        <div class="flex flex-col w-full text-lg">
            <h1 class="font-bold text-2xl">{{movie.name}}</h1>
            <p>Release date: {{movie.releaseDate | date: 'dd.MM.yyyy' }}</p>
            <p>Director: {{movie.directorName}}</p>
            <p>Length: {{movie.length}}</p>
            <p>{{movie.description}}</p>
        </div>
    </div>
</div>
